

/*Заголовки на всех станицах одинакового 
размера и выровнен по центру*/
* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}


h2 {
	font-size: 40px;
	text-align: center;
	padding-top: 35px;
}


h3 {
	font-size: 18px;
}

/*Стилизуем шапку: фоновый рисунок, 
высота, цвет */
.promo {
	display: flex;
	background: url("/Users/nikolaj/Documents/github/iceage/img/index-bgnd.jpg");
	height: 647px;
	color: white;
	text-align: left;
}

.promo__title { 
	font-size: 50px;
	padding-top: 110px;
	padding-left: 60px;
 }

.promo__subtitle { 
	font-size: 38px;
	padding-left: 60px;
}

/*Меню*/

.menu {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}

.menu p {
	border: 3px solid #000;
	text-transform: uppercase;
	padding: 8px;
}

.menu__list {
	font-size: 15px;
	padding: 70px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu__list a {
	padding: 0 20px;
	text-decoration: none;
	list-style: none;

 
}

.menu__contacts {
	display: flex;
	width: 20%;
}

.menu__contacts--telephone {
	display: block;
	font-weight: bold;
	padding: 0 20px;

}

.menu__contacts--signup {
	border: 1px solid #000;
	padding: 8px;
	color: #74e196;
	font-weight: bolder;
}

/*Услуги*/

.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.services__text {
	align-items: flex-start;
}

.services__text h4 {
	text-align: left;
}

.services__subtitle {
	font-size: 20px;
	padding: 35px;
	text-align: center;
}

.services ul {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.services li {
	width: 33%;
	list-style: none;
}

.services .container {
		text-align: center;
}

/*Почему мы*/
.why ul {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.why li {
	width: 33%;
	list-style: none;
}

.why .container {
		text-align: center;
}


.team__container {
	display: flex;
	align-content: flex-end;
	height: 500px;
	background-image: url(http://via.placeholder.com/1100x600);
} 

.team__container-link {
	padding: 10px;
	margin: 20px;
	border: 1px solid #000;
}

.instagram {
	margin-bottom: 70px;
}

.instagram__container {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}


/*Подвал*/

.footer { 
 	background-image: url(http://via.placeholder.com/1100x300);
 }

 .footer__container--row1 { 
	display: flex;
	border: 1px solid #000;
	justify-content: space-between;
 }

 .footer__container--row2 { 
 	display: flex;
 	justify-content: space-between;
	border: 1px solid #000;
 }

 .footer__menu ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: left;
}

.footer__menu li {
	list-style: none;
 }
